body {
    font-family: 'Cooper Arabic', Regular;
    background-color: #C3C3FC;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    padding: 0;
}

.container {
    text-align: center;
}

.card {
    position: center;
    display: inline-block;
}

#card-image {
    width: 100%;
    height: 100%;
}

.name-display {
    position: absolute;
    font-size: 4em;
    color: white;
    text-shadow: 2px 2px 4px #000000;
    bottom: 25%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.input-section {
    margin-top: 20px;
}

#name-input {
    font-size: 1.5em;
    padding: 5px;
}

button {
    font-size: 1.5em;
    background-color: #F8F8F8;
    color: white;
    border: none;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 4px;
}
